<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<div class="container">
  <div class="row">
    <div class="col">
      <div id="terminal" class="terminal-outer" mwlResizable [ngStyle]="style" [validateResize]="validate" [enableGhostResize]="true" [resizeEdges]="{bottom: true, right: true}"
        (resizeEnd)="onResizeEnd($event.rectangle.left, $event.rectangle.top, $event.rectangle.width, $event.rectangle.height)">
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>